/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*GLOBAL STYLES*/
/* COLORS =============================================
Dark Pink (Magenta): #b21e49;
Light Grey: #eeeeee;
Bright Pink: #ff1256;
Dark Grey: #222222;
Blue: #23a4cc;
============================================= */
body, html{
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #eee;
}

a {
  font-weight:700;
  color:#23a4cc;
}

p.lead{
  font-size: 1em;
  line-height: 1.4;
}
h1, h2, h3, h4{
  font-weight: 700;
}

h1{
  font-size:1.4em;
  line-height: 1.6;
}

h2{
  font-size: 1em;
}

h3{

}
.btn{
    background-color: #b21e49;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    box-shadow: 2px 2px 0px #DADADA;
    height: 2.5em;
    width: 100%;
    display: block;
}
    .btn:hover{
        background-color: #ff1256;
    }

input.btn{
  background-color: #ff1256;
}
  input.btn:hover{
    background-color: #b21e49;
  }


/*SITE STYLES*/
/*Header*/
.main-header{
  width: 100%;
  background: #ddd;
}
#logo{
  width: 100%;
  background: #ddd;
  margin: auto;
}
nav{
  width: 100%;
  /*margin: auto;*/
  background: #ddd;
}
li{
  /*width: 100%;*/
  /*margin: auto;*/
  /*list-style: none;*/
}
nav ul li a{
   font-size: 1.125em;
   font-weight: 700;
   text-transform: uppercase;
   color: #333;
}
nav ul li a:hover{
   color: #FF1256;
}

/*Main Content*/
#main-content{
  width: 96%;
  padding: 0 2%;
}
.hero-area, .top-story{
  width: 100%;
}
.top-story img{
  width: 100%;
}

/*sidebar*/
.sidebar{
  width: 100%;
}
.sidebar-upcoming, .sidebar-faq{
  display: none;
}

/*Feed*/
.feed{
  width: 100%;
}
.feed-type{
  text-transform: uppercase;
  margin: auto;
}
.feed-item{
  clear: both;
  border-bottom: 1px solid #cccccc;
}
.feed-item p{
  display: none;
}
.feed-item img{
  width: 45%;
  float: left;
  padding-right: 2%;
}
.feed-item-title a{
  text-decoration: none;
  color: #333;
}
.feed-item-title{
  width: 42%;
  float: left;
}

/*Detailed pages*/
.reviews-story img, .news-story img{
  width: 100%;
}

/*Footer*/
footer {
  width: 100%;
  margin: auto;
  clear: both;
}
#footer-logo{
  width: 47.5%;
  margin: auto;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px){
/*Tablet*/
  #logo{
    width: 50%;
    float: left;
  }
  nav{
    width: 50%;
    float: right;
  }
  li{
    display: inline;
    margin: auto 0 auto 8%;
  }

/*Main section/top-*/
  .top-story{
    width: 100%
  }
  .top-story img{
    width: 57%;
    float: left;
  }
  .top-info{
    width: 37%;
    float: left;
  }

  .review-story img, .news-story img{
    float: left;
    width: 50%;
    clear: both;
  }
  .review-detail-top-heading, .detail-top-heading{
    width: 50%;
    float: left;
  }
  .review-details, .review-details li, .news-details, .news-details li{
    padding: 0 5% 0 0;
    margin: 0;
  }
  .review-story-body, .story-body{
    clear: both;
    padding: 2% 0;
  }
  .review-detail-newsletter-signup, .news-detail-newsletter-signup{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 2%;
  }
  /*sidebar*/
  .sidebar{
    width: 30%;
    clear: both;
    float: right;
  }
  .sidebar-upcoming, .sidebar-faq{
    display: block;
  }

  /*Feed*/
  .feed{
    width: 60%;
    float: left;
  }
  .feed-item img{
    width: 35%;
  }

  /*Footer*/
  footer {
    width: 100%;
    clear: both;
  }
  #footer-logo{
    width: 30%;
    margin: auto;
  }

@media screen and (min-width: 940px){
/*Desktop*/

    h1{
        font-size: 1.6em;
        line-height: 1.8;
    }
    h2{
        font-size: 1.4em;
    }
    /*#logo {
        width: 30%;
    }
    nav {
        width: 60%;
    }*/
#logo, nav{
/*margin-bottom: 2%;*/
}
.main-header{
  overflow-y: auto;
  margin-bottom: 2%;
}

.top-story {
  /*clear: both;*/
  width: 65%;
  float: left;
  border: none;
  padding-right: 2%;

}
.top-story img{
  width: 100%;
  border: 2px solid black;
}

.top-info{
  width: 100%;
  float: left;
}
/* Side Bar =========================== */
  .sidebar {
    clear:none;
    width:30%;
    float:right;
    border-left: 1px solid #cccccc;
    padding-left: 2%;
    padding-bottom: 5%;
  }
  .sidebar .newsletter-sidebar, .sidebar .sidebar-upcoming{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2%;
    padding-bottom: 5%;
    padding-left: 0;
    margin-left: 0;
  }
  .sidebar-faq{

  }

/* News/Reviews Feed Section =========================== */
  .feed {
    width: 100%;
    float: none;
    clear: both;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  .feed-item article{
    display: block;
    height: auto;
  }
  .feed-item article{
    padding-bottom: 2%;
    height: auto;
    overflow-y: auto;
  }

  .feed-item-title, .feed p {
    width: 70%;
    display: inline-block;
    margin: auto;
    clear: right;
  }
  .feed-img, .feed-item img{
    width: 20%;
    height: auto;
    /*float: left;*/
    /*clear: left;*/
  }

    /* DETAILED PAGES ================================ */
    .review-story, .news-story{
      width: 65%;
      border-right: 1px solid #cccccc;
      clear: both;
      float: left;
    }
    .review-detail-top-heading, .detail-top-heading{
      width: 65%;
      /*float: left;*/
    }
    .review-story img, .news-story img{
      width: 100%;
      float: none;
    }
    .news-detail-newsletter-signup, .review-detail-newsletter-signup{
      width: 30%;
      float: right;
      border-top: none;
    }
    /* Footer =========================== */
    footer{
      width: 100%;
    }

    #footer-logo{
      width: 20%;
    }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
